<div class="light-alert-title">
  <span class="light-title-red"></span>
  <p>系统报警</p>
</div>
<div class="light-alert-content">
  <div style="background-color:white">
  <nz-table #nzTable [nzAjaxData]="dataSet" [nzPageSize]="8"  >
    <thead nz-thead>
      <tr>
        <th nz-th nzWidth="150px">Time</th>
        <th nz-th nzWidth="80px">Severity</th>
        <th nz-th nzWidth="150px">Type</th>
      </tr>
    </thead>
    <tbody nz-tbody>
       <tr *ngFor="let data of nzTable.data">
        
        <td nz-td>{{data.time|timePipe}}</td>
        <td nz-td>{{data.severity}}</td>
        <td nz-td>{{data.type}}</td>
      </tr>
    </tbody>
  </nz-table>
  </div>
</div>
